option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: modoom_api.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: modoom_api.settings.production
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'