<meta charset="UTF-8">


<div style="width:100%">

  <div style="max-width:600px;margin:0 auto;padding:60px 0 30px 0;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:16px;line-height:1.5;border:1px solid #e2e2e2">

    <div align="center" style="padding-right:0px;padding-left:0px" class="logo-area">
      <div style="font-size:1px;line-height:20px">&nbsp;</div><img align="center" border="0" src = "https://modoom-react-frontend.s3.ap-northeast-2.amazonaws.com/static/media/modoom_logo.png" alt="Logo" title="Logo" style="text-decoration-line: none; height: auto; border: none; width: 100%; max-width: 143px; display: block;" width="143"></a>
    </div>

    <hr style="border:0;border-top:solid 1px #e2e2e2;width:90%;margin:30px auto" class="horizontal-line">

    <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
      <div style="margin-top:20px">
          모둠 소식을 구독해주셨던 여러분 안녕하세요 👋
          <br><br>

          이제 개강이 정말 얼마 남지 않았어요! (말도 안 돼... 😱)
          방학동안 저희는 코로나 이전처럼 학교 친구들과 만나고 교류할 수 있는 캠퍼스를 꿈꾸며
          저희 스스로를 갈아넣었는데요... 😰
          <strong>드디어, 여러분을 찾아뵐 준비가 되었어요!</strong>
          모둠과 함께라면 2021년은 삭막했던 작년과 분명 달라질 것을 약속할게요 <br>
      </div>
    </div>

    <div align="center" style="padding-right:0px;padding-left:0px;margin-top:40px" class="full-image">
      <img align="center" border="0" src = "https://modoom-react-frontend.s3.ap-northeast-2.amazonaws.com/static/media/beta_banner.png" alt="Image" title="Image" style="border: 0px; height: auto; width: 100%; display: block;">
    </div>

    <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:20px" class="bullet-point">
      <ul>
        <li>독강하는 수업에서 같이 팀플ㆍ공부할 사람이 필요하거나</li>
        <li>같이할 친구가 없어 하고 싶어도 하지 못했던 취미가 있거나</li>
        <li>자취하며 치킨🍗 먹기처럼 혼자라서 불편했던 점이 있었다면</li>
      </ul>
    </div>

    <div align="center" style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:10px" class="nomal-paragraph">
        <div style="margin-top:20px; font-size:16px" >
            <strong>🙏 오픈할 때 꼭꼭 찾아주세요 🙏</strong>
        </div>
    </div>

    <div style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:40px" class="nomal-paragraph">
      <div style="margin-top:20px">
          마음 맞는 사람들과 함께하는 모둠을 만드는 여정에 함께해주셔서 감사해요.
          <br>
          즐거운 개강되세요 😆
          <br>
          <br>
        모둠 드림
     </div>
    </div>
  </div>
</div>