<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>HTML Email Template</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div style="width:100%">

          <div style="max-width:600px;margin:0 auto;padding:60px 0 30px 0;font-family:'Roboto',Arial,Helvetica,sans-serif;font-size:16px;line-height:1.5;border:1px solid #e2e2e2">

            <div align="center" style="padding-right:0px;padding-left:0px" class="logo-area">
              <div style="font-size:1px;line-height:20px">&nbsp;</div><img align="center" border="0" src = "https://modoom-react-frontend.s3.ap-northeast-2.amazonaws.com/static/media/modoom_logo.png" alt="Logo" title="Logo" style="text-decoration-line: none; height: auto; border: none; width: 100%; max-width: 143px; display: block;" width="143"></a>
            </div>

            <hr style="border:0;border-top:solid 1px #e2e2e2;width:90%;margin:30px auto" class="horizontal-line">

             <table style="border-collapse: collapse; border-spacing: 0; width:100%; max-width:640px; min-width:320px; margin:0 auto">
                <tbody>
                <tr>
                    <td style="padding:20px 0; text-align:center; font-size:18px;">
                        <h2 style="margin: 2rem 0">
                            <b style="color: #E40A2D; letter-spacing: 5px;">{{ code }}</b>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px 0; font-size:13px; color:#999; border-bottom:0px solid #eaeaea; text-align: center;">
                    </td>
                </tr>
                </tbody>
            </table>

            <div align=center style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:0px" class="nomal-paragraph">
              <div style="margin-top:20px">
                만약 문제가 있으시면 admin@modoom.us로 메일 주세요!<br>
                  최대한 빠르게 해결해드릴게요 😀
                  <br><br>
                  <strong>모둠 드림</strong>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>