/*-----------------------------------------------
|  Layouts
-----------------------------------------------*/

.container {
  padding: 0 8px 0 8px;
}

body {
  touch-action: pan-x pan-y;
}

.page-tabs-container {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 100;
}

.page-tabs-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 0 auto;
  padding: 0.2rem 0;
}

.page-tab {
  display: block;
  width: 5rem;
  text-align: center;
  text-decoration: none !important;
}

.chat-input-container {
  display: flex;
  align-items: center;
}

.appbar-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 20;
}

.appbar {
  height: 3rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.main-container {
  position: relative;
  top: 3rem;
  padding-bottom: 3rem;
}

/*-----------------------------------------------
|  UI Components
-----------------------------------------------*/

.modoom-thumbnail {
  height: 5rem;
  width: 7rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.modoom-thumbnail-square {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.modoom-thumbnail-feed {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

$reel-size: 5.5rem;
.modoom-thumbnail-reel {
  height: $reel-size;
  width: $reel-size;
  border-radius: 1rem;
  //border-radius: 50% !important;
  object-fit: cover;
}

.modoom-thumbnail-reel-overlay {
  height: $reel-size;
  width: $reel-size;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5662640056022409) 0%, rgba(0, 0, 0, 0) 100%);
}

.modoom-thumbnail-vertical {
  border-radius: 0.5rem;
  object-fit: cover;
}


.modoom-placeholder {
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  object-fit: cover;
}

.modoom-placeholder-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.modoom-form-control, .modoom-form-control:focus {
  padding: 0;
  border: unset;
  box-shadow: unset;
}

.modoom-form-control:disabled {
  background-color: unset;
}

.modoom-select, .modoom-select:focus {
  border: unset;
  padding: 0;
  box-shadow: unset;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}

.bottom-popup-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  border-radius: 1.5rem 1.5rem 0 0;
  transition: transform 0.1s ease-in-out;
}

.bottom-popup-sheet.closed {
  transform: translate(0, 100%);
}

.bottom-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  transition: opacity 0.1s ease-in-out;
}

//.bottom-popup-overlay.closed {
//  //transform: translate(0, 100%);
//  opacity: 0;
//}

.icon-group {
  display: inline-flex;
  flex-direction: row-reverse;


  .icon-item.avatar {
    margin-right: -0.6rem;
    box-shadow: unset;
    border: 3px solid #fff;
    height: 2.75rem;
    width: 2.75rem;
  }
}

.avatar-name {
  position: unset !important;
}

.interaction-button:hover {
  background-color: $gray-100 !important;
}

.interaction-button:active {
  background-color: $gray-200 !important;
}

.interaction-button-fill:hover {
  background-color: darken($primary, 5%) !important;
}

.interaction-button-fill:active {
  background-color: darken($primary, 10%) !important;
}

.btn {
  transition: unset;
}

.chat-detail {
  background-color: white;
}

.chat-detail.show {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 200
}

.chat-detail.hidden {
  display: none;
}

.notification-indicator-number{
  right: -0.1rem;
  top: 0.8rem;
  font-size: 0.8rem;
  background-color: $danger;
  border-radius: 50%;
  line-height: 0;
}

.notification-indicator-number.page-tab-indicator{
  right: 1.2rem;
}

/*-----------------------------------------------
|  Utilities
-----------------------------------------------*/

.border-solid {
  border-style: solid;
}

.border-top-200 {
  border-top: 1px solid $gray-200;
}

.border-radius-1 {
  border-radius: 1rem;
}

.text-overflow-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-active {
  border-bottom: 2px solid $primary;
}

.fill-available {
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

.custom-shadow {
  box-shadow: $box-shadow;
}

.generic-modal-backdrop.show {
  opacity: 0.1 !important;
}

.modal.fade .modal-dialog {
  transition: transform 0.2s ease-out;
  transform: scale(1.05);
}

.modal.show .modal-dialog {
  transform: none
}

.modal-open .modal{
  overflow-y: hidden;
}